<h2>Template</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let ruta of templateMenu" 
        class="list-group-item"  [routerLink]="ruta.ruta" routerLinkActive="active">
        {{ruta.texto}}
    </li>

</ul>
<h2 class="mt-3">Reactive</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let ruta of reactiveMenu" 
        class="list-group-item"  [routerLink]="ruta.ruta" routerLinkActive="active">
        {{ruta.texto}}
    </li>

</ul>

<h2 class="mt-3">Validaciones</h2>
<ul class="list-group">
    <li *ngFor="let auth of authMenu"
    class="list-group-item"  [routerLink]="auth.ruta" routerLinkActive="active">
        {{auth.texto}}
    </li>
</ul>

<hr>